@import url('https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,400;1,600&display=swap');

#{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
        min-height: 100vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #a5b1c2;
        font-family: 'poppins';
        position: relative;
        color: #fff;
    }
.MY-BSC-Card {
        height: 450px;
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content:center;
        background-color: #1e272e;
        border-radius: 10px;
        box-shadow: 20px 25px 18px rgba(0,0,0,0.5), -10px -20px 20px rgba(0,0,0,0.05)
        }
.profile-content {
        padding-inline: 20px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items:center;
                }
.profile-picture {
        width:120px;
        height: 120px;
        background-color: #aaa;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid #1DA1F2;
                }
.profile-picture img{
        max-width: 100%;
        transition: 0.5s ease;
        cursor: pointer;
                    }
.profile-picture img:hover{
        transform: scale(1.28)
                        }
.profile-name{
        margin-top: 10px;
        font-size:24px;
        font-weight: bold;
        color: #1da1f2;
        text-transform: uppercase;
        text-shadow:0px 0px 4px black;
            }
.profile-add{
         margin-top: 10px;
        font-weight: bold;
        font-size:18px;
        font-style: italic;
        color: #e6b8a2;
        text-transform: capitalize;
                }
.profile-discription{
        margin-top: 5PX;
        color: #ccc;
        font-size: 15px;
                    }
.social-icon{
        margin-top: 10px;
        list-style: none;
        padding: 0;
        display: flex;
            }
.social-icon li{
        display: inline-block;
                }
.social-icon a {
        margin: 10px;
        border-radius: 50%;
        box-sizing:border-box;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        transition:0.3s ease;
        font-size:15px;
        color: var(--color);
                }
.social-icon a:hover{
        background:var(--color);
        color: #010101;
        box-shadow: 0px 0px 5px var(--color),
                    0px 0px 25px var(--color),
                    0px 0px 50px var(--color),
                    0px 0px 75px var(--color);
                    }